[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/

# IDE
.vscode/
*.csproj
*.sln
*.user
*.unityproj

# OS
.DS_Store
Thumbs.db

# Unity Asset Store Tools
Assets/AssetStoreTools*

# Crash and analytics
*.pidb
*.booproj
